body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 100px 20px 100px;
}

.logo{
    font-weight: bold;
}

.links{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    gap: 16px;
}

.links a{
    color: #E5E7EB;
    text-decoration: none;
}



/*
p{
    font-size: 18px;
    color: #E5E7EB;
}
#woods{
    float: right;
    width: 360px;
    height: 220px;
}
button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: bold;
    border: none;
}

.plants{
    width: 100px;
    height: 100px;
    border: 1px dodgerblue;
}
.container{
    display: flex;
    background-color: white;
    justify-content: center;
    text-align: center;
}
.info{
    color: #1F2937;
    font-size: 18px;
}


*/
