body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 100px 20px 100px;
}

.logo{
    font-weight: bold;
}

.links{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    gap: 16px;
}

.links a{
    color: #E5E7EB;
    text-decoration: none;
}

/* Hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 60px 100px 100px 100px;
}

.hero h1{
    margin: 0;
    padding-right: 32px;
}

.hero p{
    font-size: 18px;
    opacity: 0.7;
    margin: 0;
    padding: 8px 32px 8px 0px;
}

.hero img{
    width: 350px;
    height: 200px;
}

.hero button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

/* Content */
h2{
    text-align: center;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 140px 60px 140px;
}

.text{
    font-size: 14px;
    opacity: 0.6;
    padding: 0px 16px;
}

.container img{
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 16px;
}

/* Quote */
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 80px 60px 100px;
}

.quote blockquote{
    font-size: 28px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    max-width: 600px;
    opacity: 0.8;
    margin: 0;
    padding: 0;
}

.quote p{
    font-size: 18px;
    font-weight: bold;
}

/* Action */
.action{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    gap: 80px;
    background-color: #3882F6;
    padding: 50px 100px;
    margin: 80px 100px;
    color: white;
    border-radius: 10px;
}

#call{
    font-size: 18px;
    font-weight: bold;
}

#sign{
    font-size: 14px;
    font-weight: lighter;
}

.action button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

/* Footer */
